<div class="table-responsive">
	<table class="table table-hover" id="members-table">
		<thead>
			<tr>
				<th>Nome</th>
				<th>E-mail</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			#{list members, as:'member'}
			<tr>
				<td><a href="/painel/membros">${member.name} </a></td>
				<td><a href="/painel/membros">${member.email}</a></td>
				<td><button id="delete_member" type="button" class="btn btn-danger btn-circle" value="${member.id}"  data-toggle="modal" data-target="#removeModal">
						<i class="fa fa-times"></i>
					</button></td>
			</tr>
			#{/list}
		</tbody>
	</table>

	<select size="1" name="object.members.id" multiple="multiple" hidden="true">
	    #{list members, as:'member'}
	        <option value="${member.id}" selected="selected">${member.name}</option>
	    #{/list}
	</select>
</div>
