<meta charset="utf-8" />
<div class="navbar-default sidebar" role="navigation">
	<div class="sidebar-nav navbar-collapse">
		<ul class="nav" id="side-menu">
<!-- 			<li class="sidebar-search"> -->
<!-- 				<div class="input-group custom-search-form"> -->
<!-- 					<input type="text" class="form-control" placeholder="Search..."> <span class="input-group-btn"> -->
<!-- 						<button class="btn btn-default" type="button"> -->
<!-- 							<i class="fa fa-search"></i> -->
<!-- 						</button> -->
<!-- 					</span> -->
<!-- 				</div> /input-group -->
<!-- 			</li> -->
			<li><a href="@{Admin.index}"><i class="fa fa-home fa-fw"></i> Início</a></li>
			
			<li style="display: ${session.get("enableUser") == 'false' ? 'none' : 'block'};">
				<a href="#"><i class="fa fa-edit fa-fw"></i> Cadastrar<span class="fa arrow"></span></a>
				<ul class="nav nav-second-level">
					<li><a href="@{VisitorsCRUD.list}">Visitantes</a></li>
					<li><a href="@{MembersCRUD.list}">Membros</a></li>
					<li><a href="@{IntercessorsCRUD.list}">Intercessores</a></li>
				</ul>
			</li>
			
			<li style="display: ${session.get("enableUser") == 'false' ? 'none' : 'block'};"><a href="@{EventsCRUD.list}"><i class="fa fa-glass fa-fw"></i> Eventos</a></li>
			
			<li style="display: ${session.get("enableUser") == 'false' ? 'none' : 'block'};"><a href="#"><i class="fa fa-group fa-fw"></i> Grupos<span class="fa arrow"></span></a>
				<ul class="nav nav-second-level">
					<li><a href="@{VisitorsGroupCRUD.list}">Visitantes</a></li>
					<li><a href="@{MembersGroupCRUD.list}">Membros</a></li>
				</ul>
			</li>
			
			<li style="display: ${session.get("enableUser") == 'false' ? 'none' : 'block'};"><a href="@{ConfigureTemplateCRUD.list}"><i class="fa fa-list-alt fa-fw"></i> Configurar Templates</a></li>
			
			<li style="display: ${session.get("enableUser") == 'false' ? 'none' : 'block'};"><a href="#"><i class="fa fa-send-o fa-fw"></i> Enviar E-mail<span class="fa arrow"></span></a>
				<ul class="nav nav-second-level">
					<li><a href="@{EmailMarketingCRUD.emailMarketingVisitors}">Visitantes</a></li>
					<li><a href="@{EmailMarketingCRUD.emailMarketingMembers}">Membros</a></li>
				</ul>
			</li>
			
			<li style="display:  ${session.get("enableUser") == 'false' ? 'none' : 'block'};"><a href="#"><i class="fa fa-envelope-o fa-fw"></i> Enviar SMS<span class="fa arrow"></span></a>
				<ul class="nav nav-second-level">
					<li><a href="@{SendSMS.smsVisitors}">Visitantes</a></li>
					<li><a href="@{SendSMS.smsMembers}">Membros</a></li>
				</ul>
			</li>
			<li><a href="#"><i class="fa fa-wrench fa-fw"></i> Ajustes<span class="fa arrow"></span></a>
				<ul class="nav nav-second-level">
					<li><a href="@{InstitutionCRUD.list}"> Instituição</a></li>
					<li><a href="@{UsersCRUD.list}"> Meu perfil</a></li>
					<li><a href="#"> Financeiro</a></li>
				</ul>
			</li>
			
			<li><a href="@{Secure.logout()}"><i class="fa fa-power-off fa-fw"></i> Sair</a></li>
		</ul>
	</div>
	<!-- /.sidebar-collapse -->
</div>