#{extends 'Secure/layout.html' /}
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
				<div class="container">
                	<a class="navbar-brand" href="@{Admin.index}"> 
						<img  class="img-responsive" src="@{'public/images/logo-small.png'}" style="max-width: 70%; margin: 0 auto; margin-top: 44px;">
					</a>
				</div>
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Login</h3>
                    </div>
                    #{if flash.error}
						<div class="panel-body">
							<div class="form-group">
								<h4>Ops!</h4>
								<div class="alert alert-warning">&{flash.error}</div>
							</div>
						</div>
					#{/if}
					#{if flash.success}
						<div class="panel-body">
							<div class="form-group">
		                  		<div class="alert alert-success">
									&{flash.success}
		                        </div>
	                        </div>
	                    </div>
					#{/if}
                    <div class="panel-body">
                    	#{form @authenticate(), method:'POST', role:'form'}
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="E-mail" name="username" type="email" value="${flash.username}" autofocus>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Senha" name="password" type="password" value="">
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input name="remember" type="checkbox" value="Remember Me">Lembrar-me
                                    </label>
                                </div>
                                <button type="submit" class="btn btn-lg btn-success btn-block" style="background: #666666; border-color: #fff" value="&{'secure.signin'}">Entrar</button>
                            </fieldset>
                        #{/form}
                    </div>
                </div>
            </div>
        </div>
    </div>
