<html lang="${lang}">
    <head>
    	<meta charset="utf-8" />
       #{include 'includes/headCrud.html' /}
    </head>
    <body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <!-- Logo navbar -->
           	#{include 'includes/logoNavBar.html' /}
            <!-- Logo navbar -->
            <!-- Menu Top Side -->
           	#{include 'includes/menuPainelTop.html' /}
            <!-- Menu Top Side -->
            <!-- Menu Left Side -->
           	#{include 'includes/menuPainelLeft.html' /}
            <!-- Menu Left Side -->
        </nav>
        <div id="page-wrapper">
			<div class="row">
		         <div class="col-lg-12">
		             <h1 class="page-header">E-mails Enviados - Membros</h1>
		         </div>
		         <!-- /.col-lg-12 -->
		    </div>
			<ol class="breadcrumb">
			    <li><a href="@{CRUD.index()}">&{'crud.home'}</a></li>
			    <li><a href="@{EmailMarketingCRUD.sendEmailMembers()}">E-mail Marketing - Membros</a></li>
			</ol>
    		#{if flash.success}
				<div class="row">
					<div class="col-lg-12">
						<div class="alert alert-info alert-dismissable">${flash.success}</div>
					</div>
				</div>
			#{/if}
            #{if flash.error || error}
				<div class="row">
					<div class="col-lg-12">
						<div class="alert alert-danger alert-dismissable">${error ?: flash.error}</div>
					</div>
				</div>
			#{/if}
			<div class="row">
               	<div class="col-lg-12">
               		<div class="panel panel-default">
                       <div class="panel-heading">
                           E-mails enviados
                       </div>
                       <div class="panel-body">
                           <div class="table-responsive">
                               <table class="table table-hover">
                                   <thead>
                                       <tr>
                                           <th>Nome</th>
                                           <th>E-mail</th>
                                           <th>Template</th>
                                           <th>Data/Hora</th>
                                       </tr>
                                   </thead>
                                   <tbody>
	                                   #{list sentEmails, as:'email'}
											<tr>
												<td>${email.getName()}</td>
												<td>&{email.getEmail()}</td>
												<td>&{email.getTemplate()}</td>
												<td>&{email.getPostedAt().format("dd/MM/yyyy HH'h'mm")}</td>
											</tr>
										#{/list}
                                   </tbody>
                               </table>
                           </div>
                       </div>
               		</div>
               	</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading" style="text-align: center">
							&{'project.name'} © Copyright 2015 - Versão: &{'project.version'}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
    <!-- /#wrapper -->
    <!-- footerCrud -->
 	#{include 'includes/footerCrud.html' /}
    <!-- footerCrud -->
</body>

</html>
