<div id=":1zr" class="ii gt m14bdb077430a4e0e adP adO">
	<div id=":1zv" class="a3s" style="overflow: hidden;">
		<u></u>
		<div>
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tbody>
					<tr>
						<td><table width="650" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#ffffff" style="border: 10px solid #c8e5f6">
								<tbody>
									<tr>
										<td align="left" valign="top"><table width="650" border="0" align="center" cellspacing="0" cellpadding="0" style="border-bottom: 1px solid #cccccc">
												<tbody>
													<tr>
														<td width="275" align="left" valign="middle" style="padding: 30px"><img
															src="https://ci4.googleusercontent.com/proxy/hzMw_9-350b6jAdeZK4Lc60ahQf7_Jh0KBh-d7YsTFvxR31354NH6D0xQIrr3-El3L4OGuzcvxSsZSfkbVIRE7ef2B29V6MhxYdjGuFNP-vL87cDAsSUmta6fXj65QPL9B8seajEXyKjBPVfBHdxPKTgTXn8Vy5oALfxmbM=s0-d-e1-ft#https://cdn3.f-cdn.com/images/email-template/freelancer-logo.gif?v=8cc01dff50237299d3fff21ae6a4984f&amp;m=2" alt="Freelancer" width="190" height="47"
															class="CToWUd"></td>
														<td width="255" align="right" valign="middle" style="font-family: Arial; font-size: 14px; color: #555555; padding: 30px"><strong>Notificação</strong><br> 2 de Março de 2015</td>
													</tr>
												</tbody>
											</table></td>
									</tr>
									<tr>
										<td align="left" valign="top"><table width="650" border="0" cellspacing="0" cellpadding="0" style="margin: auto">
												<tbody>
													<tr>
														<td colspan="3" width="100%" height="30"><img src="https://ci5.googleusercontent.com/proxy/-IaT4F8igItq3HbMQhKpboTc4Gcv-9L-iVC_mt1yt47WgaGazN5MLTgkoo9z5m4SXDKxj7rA_jSiqMT4HFNgLVIe7YA1JDRtvhcZcSrl8LnFVuMMb6_tl_XODPnhoO7cqg=s0-d-e1-ft#https://cdn2.f-cdn.com/img/blank.gif?v=d21d1c04745849be6d176cdeb8d06f4b&amp;m=2" width="1" height="1" class="CToWUd"></td>
													</tr>
													<tr>
														<td width="30"><img src="https://ci5.googleusercontent.com/proxy/-IaT4F8igItq3HbMQhKpboTc4Gcv-9L-iVC_mt1yt47WgaGazN5MLTgkoo9z5m4SXDKxj7rA_jSiqMT4HFNgLVIe7YA1JDRtvhcZcSrl8LnFVuMMb6_tl_XODPnhoO7cqg=s0-d-e1-ft#https://cdn2.f-cdn.com/img/blank.gif?v=d21d1c04745849be6d176cdeb8d06f4b&amp;m=2" width="1" height="1" class="CToWUd"></td>
														<td width="590"><p style="font-family: Arial; font-size: 20px; margin-bottom: 0.5em; margin-top: 0">Oi lucascorreiaevan,</p></td>
														<td width="30"><img src="https://ci5.googleusercontent.com/proxy/-IaT4F8igItq3HbMQhKpboTc4Gcv-9L-iVC_mt1yt47WgaGazN5MLTgkoo9z5m4SXDKxj7rA_jSiqMT4HFNgLVIe7YA1JDRtvhcZcSrl8LnFVuMMb6_tl_XODPnhoO7cqg=s0-d-e1-ft#https://cdn2.f-cdn.com/img/blank.gif?v=d21d1c04745849be6d176cdeb8d06f4b&amp;m=2" width="1" height="1" class="CToWUd"></td>
													</tr>
													<tr>
														<td width="30"><img src="https://ci5.googleusercontent.com/proxy/-IaT4F8igItq3HbMQhKpboTc4Gcv-9L-iVC_mt1yt47WgaGazN5MLTgkoo9z5m4SXDKxj7rA_jSiqMT4HFNgLVIe7YA1JDRtvhcZcSrl8LnFVuMMb6_tl_XODPnhoO7cqg=s0-d-e1-ft#https://cdn2.f-cdn.com/img/blank.gif?v=d21d1c04745849be6d176cdeb8d06f4b&amp;m=2" width="1" height="1" class="CToWUd"></td>
														<td width="590" style="font-family: Arial; font-size: 14px; padding-bottom: 15px"><p style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; color: #3e3e3e; line-height: 1.4">Você teve um downgrade com sucesso para o plano de associado free. O seu plano de associado plus ficará ativo até 28/03/2015.</p>
															<p style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; color: #3e3e3e; line-height: 1.4">Caso deseje continuar seu plano de associado plus, nós salvamos suas configurações anteriores incluindo:</p>
															<table align="center" width="350px" bgcolor="#f1faff" style="border: 1px solid #27aae2" cellpadding="0" cellspacing="0">
																<tbody>
																	<tr>
																		<td width="20px"><img src="https://ci3.googleusercontent.com/proxy/KU7bIwn0TouNcKnRUxjv5t1_9CE9PPyRWDW1SpHrWK8J_Ym_ip7IEYN6vdlJS0ghzMaSSOucBqzClboJBt-JEGLjrZSu7dknmj9Yh2sbNrmRW_R6A96Cx2SzTxt0xIxp12Du8cjbt1OQM4a1Ympl1WG5WeXCLbkZCi1DTUL-=s0-d-e1-ft#https://cdn6.f-cdn.com/images/email-template/membership/blank.gif?v=0c4c59eb19c2762aaf370ad7ef851fc9&amp;m=2" class="CToWUd"></td>
																		<td width="34px" style="border-bottom: 1px solid #bae2f4"><img
																			src="https://ci3.googleusercontent.com/proxy/93_InJP2vePufOMuotFWkajYPIdsjDfZI-EvdS9qgBtRxz1i0HvMlFB4VR722JqUa_kA4y6k5jYalf0KlZuQr_uc992D2vVZA8REanbSfgyovIQZOWAjljdD8mg-JXJl05IDrAjDeFkgrd8kP_R_Gfc4thhhTF62Ar7RgCnVmFoGyyPI0SD0MfBiRljs0w=s0-d-e1-ft#https://cdn2.f-cdn.com/images/email-template/membership/DowngradeEmail/skills.png?v=64df1bae983b39be2addd812c4609365&amp;m=2" alt="•"
																			class="CToWUd"></td>
																		<td height="50px" style="border-bottom: 1px solid #bae2f4"><p style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; color: #3e3e3e; line-height: 1.4">Habilidades adicionais que você adicionou</p></td>
																		<td width="20px"><img src="https://ci3.googleusercontent.com/proxy/KU7bIwn0TouNcKnRUxjv5t1_9CE9PPyRWDW1SpHrWK8J_Ym_ip7IEYN6vdlJS0ghzMaSSOucBqzClboJBt-JEGLjrZSu7dknmj9Yh2sbNrmRW_R6A96Cx2SzTxt0xIxp12Du8cjbt1OQM4a1Ympl1WG5WeXCLbkZCi1DTUL-=s0-d-e1-ft#https://cdn6.f-cdn.com/images/email-template/membership/blank.gif?v=0c4c59eb19c2762aaf370ad7ef851fc9&amp;m=2" class="CToWUd"></td>
																	</tr>
																	<tr>
																		<td width="20px"><img src="https://ci3.googleusercontent.com/proxy/KU7bIwn0TouNcKnRUxjv5t1_9CE9PPyRWDW1SpHrWK8J_Ym_ip7IEYN6vdlJS0ghzMaSSOucBqzClboJBt-JEGLjrZSu7dknmj9Yh2sbNrmRW_R6A96Cx2SzTxt0xIxp12Du8cjbt1OQM4a1Ympl1WG5WeXCLbkZCi1DTUL-=s0-d-e1-ft#https://cdn6.f-cdn.com/images/email-template/membership/blank.gif?v=0c4c59eb19c2762aaf370ad7ef851fc9&amp;m=2" class="CToWUd"></td>
																		<td width="34px" style="border-top: 1px solid #fff"><img
																			src="https://ci5.googleusercontent.com/proxy/D0a4C4MPz3nqCUinU6LtXr5ZG0fw9aXRAuTUA6v54yRzA3UTTDT0YYI_Koewfq0ltAlD-b9Mb0jwJyH2GEZ_wKYnBVRpqqloRQa_dN8-il98kIH5UB27eDKf1gS7InyZPwS5KZkPXMzSqX0NBa5KUx76AimDwdUKtelyxdvBWUCM5OlEScTUOI6WTw=s0-d-e1-ft#https://cdn6.f-cdn.com/images/email-template/membership/DowngradeEmail/eye.png?v=4cfab632df44628bc79667e00ef4eb93&amp;m=2" alt="•"
																			class="CToWUd"></td>
																		<td height="50px" style="border-top: 1px solid #fff"><p style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; color: #3e3e3e; line-height: 1.4">Os empregadores que você estava seguindo</p></td>
																		<td width="20px"><img src="https://ci3.googleusercontent.com/proxy/KU7bIwn0TouNcKnRUxjv5t1_9CE9PPyRWDW1SpHrWK8J_Ym_ip7IEYN6vdlJS0ghzMaSSOucBqzClboJBt-JEGLjrZSu7dknmj9Yh2sbNrmRW_R6A96Cx2SzTxt0xIxp12Du8cjbt1OQM4a1Ympl1WG5WeXCLbkZCi1DTUL-=s0-d-e1-ft#https://cdn6.f-cdn.com/images/email-template/membership/blank.gif?v=0c4c59eb19c2762aaf370ad7ef851fc9&amp;m=2" class="CToWUd"></td>
																	</tr>
																</tbody>
															</table>
															<p style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; color: #3e3e3e; line-height: 1.4">Não se esqueça, você também vai desfrutar de benefícios como ofertas adicionais para mais oportunidades de ganhar, e redução de comissões do projeto (dependendo da seu plano de associado).</p>
															<p style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; color: #3e3e3e; line-height: 1.4">
																<a href="https://www.freelancer.com/membership/index.php?utm_campaign=membership_emails&amp;utm_medium=email&amp;utm_source=downgraded_email&amp;utm_content=downgraded_email&amp;uniqid=262406c459fe6b49f05d631e9b64930c" target="_blank">Restaurar seus beneficios do plano de associado plus agora!</a>
															</p>
															<p style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; color: #3e3e3e; line-height: 1.4">Atenciosamente,</p>
															<span style="font-size: 16px; background-color: #ffffff; padding: 0; margin: 0 0 15px 0; display: inline-block; min-height: 19px"><i>A Equipe Freelancer</i></span></td>
														<td width="30"><img src="https://ci5.googleusercontent.com/proxy/-IaT4F8igItq3HbMQhKpboTc4Gcv-9L-iVC_mt1yt47WgaGazN5MLTgkoo9z5m4SXDKxj7rA_jSiqMT4HFNgLVIe7YA1JDRtvhcZcSrl8LnFVuMMb6_tl_XODPnhoO7cqg=s0-d-e1-ft#https://cdn2.f-cdn.com/img/blank.gif?v=d21d1c04745849be6d176cdeb8d06f4b&amp;m=2" width="1" height="1" class="CToWUd"></td>
													</tr>
													<tr>
														<td width="30"><img src="https://ci5.googleusercontent.com/proxy/-IaT4F8igItq3HbMQhKpboTc4Gcv-9L-iVC_mt1yt47WgaGazN5MLTgkoo9z5m4SXDKxj7rA_jSiqMT4HFNgLVIe7YA1JDRtvhcZcSrl8LnFVuMMb6_tl_XODPnhoO7cqg=s0-d-e1-ft#https://cdn2.f-cdn.com/img/blank.gif?v=d21d1c04745849be6d176cdeb8d06f4b&amp;m=2" width="1" height="1" class="CToWUd"></td>
														<td width="590"><table width="590" border="0" cellspacing="0" cellpadding="0" bgcolor="#effaff" style="border: 1px solid #c4e4f2">
																<tbody>
																	<tr>
																		<td width="201" align="left" valign="top" style="padding: 25px 0px 25px 25px"><span style="font-family: Arial; font-size: 12px"><strong>Junte-se ao nosso Programa de Afiliados</strong></span>
																		<p style="font-family: Arial; font-size: 11px; margin-bottom: 0; margin-top: 0.5em">
																				<b>Seja Recompensado</b> quando seus amigos se registrarem ao Freelancer.com! <a href="https://www.freelancer.com/banner/redirect.php?id=26&amp;utm_source=freelancer&amp;utm_medium=email&amp;utm_campaign=footer&amp;utm_content=Junte-se+ao+nosso+Programa+de+Afiliados&amp;uniqid=262406c459fe6b49f05d631e9b64930c" target="_blank">Saiba como »</a>
																			</p></td>
																		<td width="85" align="left" valign="top" style="padding: 25px 25px 25px 25px"><span style="font-family: Arial; font-size: 11px; margin-bottom: 0.5em"><a href="http://www.twitter.com/freelancer/" style="color: #3298c7; text-decoration: none" target="_blank"><img
																					src="https://ci5.googleusercontent.com/proxy/2s4mHMJ1LpSGHLZj08xuZnXy2pnQgKkvJycbmpBHxoniI4wX7_I7D-Ku--ojL-hZAHsRiymVClCgFoABLOpo9r0e3HPxYloanGvAgJ9OYU5VpmE3zrTg_ivzUszbuJ8xiQIrot7VpObG7jVdsWDuXq836IHSxPvFPdg=s0-d-e1-ft#https://cdn5.f-cdn.com/images/email-template/icon-twitter.gif?v=5af56f9c685d1eb139051b9ac1bb8dfb&amp;m=2" alt="Twitter" width="16" height="16" border="0"
																					style="margin-bottom: .25em; vertical-align: middle" class="CToWUd">&nbsp;&nbsp;Siga-nos</a></span>
																		<p style="font-family: Arial; font-size: 11px; margin-top: 6px">
																				<a href="http://www.facebook.com/fansoffreelancer/" style="color: #2d569b; text-decoration: none" target="_blank"><img
																					src="https://ci3.googleusercontent.com/proxy/6zaBzCE5DFJVbFLqlLdRr443i82SY1ater8vFa8Eq1Z4mQ2S9wKp95l8P-0MZTkmGVYweOVU2NI4TOmDEpVo3qephs04v5lDMc8GrbrJTlSVg9m1R9NlE8NdDJOk3JJBCSbpulc2wIeTSffE-BVs5dF6fLEDW5i7o_Lz=s0-d-e1-ft#https://cdn3.f-cdn.com/images/email-template/icon-facebook.gif?v=9252407f5b326af78455fbda1ff05782&amp;m=2" alt="Facebook" width="16" height="16" border="0"
																					style="margin-bottom: .25em; vertical-align: middle" class="CToWUd">&nbsp;&nbsp;Curta-nos</a>
																			</p></td>
																	</tr>
																</tbody>
															</table></td>
														<td width="30"><img src="https://ci5.googleusercontent.com/proxy/-IaT4F8igItq3HbMQhKpboTc4Gcv-9L-iVC_mt1yt47WgaGazN5MLTgkoo9z5m4SXDKxj7rA_jSiqMT4HFNgLVIe7YA1JDRtvhcZcSrl8LnFVuMMb6_tl_XODPnhoO7cqg=s0-d-e1-ft#https://cdn2.f-cdn.com/img/blank.gif?v=d21d1c04745849be6d176cdeb8d06f4b&amp;m=2" width="1" height="1" class="CToWUd"></td>
													</tr>
													<tr>
														<td colspan="3" width="100%" height="30"><img src="https://ci5.googleusercontent.com/proxy/-IaT4F8igItq3HbMQhKpboTc4Gcv-9L-iVC_mt1yt47WgaGazN5MLTgkoo9z5m4SXDKxj7rA_jSiqMT4HFNgLVIe7YA1JDRtvhcZcSrl8LnFVuMMb6_tl_XODPnhoO7cqg=s0-d-e1-ft#https://cdn2.f-cdn.com/img/blank.gif?v=d21d1c04745849be6d176cdeb8d06f4b&amp;m=2" width="1" height="1" class="CToWUd"></td>
													</tr>
												</tbody>
											</table></td>
									</tr>
								</tbody>
							</table>
							<p align="center" style="font-family: Arial; font-size: 11px">
								<a href="https://www.freelancer.com/users/notifications/unsubscribe_notifications.php?token=354fe9d96f1a53937bbd9367267dc6d06d7c8168&amp;userid=14314693&amp;expiration_time=1433084872&amp;uniqid=262406c459fe6b49f05d631e9b64930c" style="font-family: Arial; font-size: 11px" target="_blank">Cancelar assinatura</a> desta lista de emails. (ID:14314693)
							</p></td>
					</tr>
				</tbody>
			</table>
			<img src="https://ci4.googleusercontent.com/proxy/buC_fdJ0VC4hMFiL4yyCFKBqtDUw2dwGCdBFL_Q5F8Zt6S6-TcOSCrZ9VW87upTJZYWlJstllKQJTJgKLUIBAsBwwOiT999GBBXdq04ChhXywW-cLox7jUjodI5o16ojY4NGqYfjezwUomfzt9mcalobsgesPGmnHVDuRkMUerydIFwItWf5sOpapQ=s0-d-e1-ft#http://t.freelancer.com/1px.gif?acct=.freelancer.com&amp;en=email-tracking.opened&amp;uniqid=262406c459fe6b49f05d631e9b64930c"
				style="border: 1px solid #d9d9d9" class="CToWUd">
		</div>
	</div>
	<div class="yj6qo"></div>
</div>