<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<div id=":4v6" class="ii gt m14bb8a4304358b4f adP adO">
	<div id=":4v5" class="a3s" style="overflow: hidden;">
		<u></u>





		<div>
			<div style="font-size: 1px; display: none !important">The Labor Department will publish a rule requiring retirement advisers to put their clients' best interests above their own financial interests.</div>
			<table align="center" style="background-color: #f5f5f5" border="0" cellspacing="0" cellpadding="0" bgcolor="#f5f5f5" width="100%">
				<tbody>
					<tr>
						<td style="line-height: 10pt" height="7px" bgcolor="#f5f5f5">&nbsp;</td>
					</tr>
					<tr>
						<td>
							<table style="line-height: 15pt; background-color: #ffffff; font-family: Georgia, Times, Times New Roman, serif; color: #333333; font-size: 10pt" border="0" cellspacing="0" cellpadding="0" width="616" align="center">
								<tbody>
									<tr>
										<td width="7" align="left" valign="top" bgcolor="#f5f5f5"><img src="https://ci4.googleusercontent.com/proxy/kGB7Gz-0K09g53mTEUsE4BQel1pjjC_QH2j4rYVWCjUg_5FIxv9e2gRQ3tjaL9y-8_Q9MZ-Mh-a22E5CK0ZF1JlcQlbV_bMy1GpKglJblICT=s0-d-e1-ft#http://www.whitehouse.gov/files/email/staff/email4_left.jpg" border="0" width="7" height="500" class="CToWUd"></td>
										<td style="padding-left: 7%; padding-right: 7%">
											<div align="center">
												<br> <img src="https://ci6.googleusercontent.com/proxy/VS9HWxV4QQFf0c4n5NvjjOEZLOzMd7IMzQkqYO3Au2OVijCR3JDpVIitvB6At581wYXEn6cQLMqW_VgMDAYQaBQH42lPXg8WlKWUc4PeyALuosgdYu2y5R7s1Mp5RyYVklTeYY0gBALHgg=s0-d-e1-ft#http://www.whitehouse.gov/sites/default/files/email-files/wh-seal-email-friendly.jpg" border="0" alt="The White House, Washington" width="137" height="104" align="middle"
													style="vertical-align: middle; border: 0; color: #003366; font-size: 12pt" class="CToWUd">
											</div>

											<p>What's the difference between a doctor, a lawyer, and a financial adviser? It may sound like a bad joke, but it's a dead serious question.</p>

											<p>When you go to a doctor or a lawyer, you expect that the advice you get is in your best interest. That's because lawyers and doctors have an obligation to look out for what's best for you.</p>

											<p>Right now, the same simply doesn't always hold true when it comes to saving for your retirement. That's wrong.</p>

											<p>Trusted retirement advisers who provide critical financial advice every day are not obligated to look out for your best interests. As a result, they can steer you toward high-cost, low-return investments instead of recommending quality ones, because it means back-door payments for them. Meanwhile, you're stuck with hidden fees and lower returns that could cost you tens of
												thousands of dollars over your lifetime.</p>

											<p>That's simply not fair, and we started changing it today: Under the President's direction, the Labor Department will publish a rule in the coming weeks that will require retirement advisers to put the best interests of their client above their own financial interests.</p>

											<p>Many advisers don't accept back-door payments or hidden fees. They are hardworking men and women who got into this work to help families achieve their dreams. But outdated rules and fine print make it hard for these advisors to compete -- and for working- and middle-class families to know who they can trust.</p>

											<p>
												<strong><a href="http://click.mail.whitehouse.gov/?qs=2e1a04c2377cdb6f931fc623c945f1503d7d44d17342c241a5df2e1b286497ee19cce1f5f45f3649" style="color: #336699" target="_blank">This is a big deal for anyone currently saving for retirement, no matter how young or old. Learn more about today's announcement -- and what it means for you.</a></strong>
											</p>

											<p>
												<a href="http://click.mail.whitehouse.gov/?qs=2e1a04c2377cdb6fe4538530051644ac14583cfeae4dc99e9649f2ee0a09af1892d3b3febea1e0ef" target="_blank"><img
													src="https://ci3.googleusercontent.com/proxy/r324S2ShHS04uxlQkY9rQmN6zI8GUhSAEwYa0ISrS_IUbPnu85CTpI34Mht91zXmORW_AcuY5-qax2yvcoYq0CrJJFA5DmE0oDqnr1iE8HVxF9f4mkQVcX3v9aaih4PdpaclygU=s0-d-e1-ft#http://www.whitehouse.gov/sites/default/files/image/022315_retirement_video.jpg" alt="Find out what today's announcement means for you." width="515" height="289" border="0" class="CToWUd"></a>
											</p>

											<p>The action we announced today was founded on a simple premise:</p>

											<p>When you've worked hard to build up a retirement nest egg, you’ve earned the right to sound advice. You deserve to know that your adviser is working for you. More than that, you deserve to know that they have a clear legal and ethical obligation to look out for what's best for you. That's just common sense.</p>

											<p>The rule we'll roll out will etch that principle into the law -- and help make sure workers get the quality advice they need to save. After a lifetime of hard work, every American -- no matter what their income level -- deserves a shot to retire with dignity.</p>

											<p>Here's what you can expect next:</p>

											<p>Once the rule is published, we'll accept public comments and hold a public hearing to discuss the proposal. That means you -- and any member of the public -- can add a comment and share your insights.</p>

											<p>
												<strong><a href="http://click.mail.whitehouse.gov/?qs=2e1a04c2377cdb6f6bb32a5ca5cf41c100637d5b1eb8508ee6fd3e4c359afbad2f0762088d929a32" style="color: #336699" target="_blank">Learn more about today's announcement, and what comes next.</a></strong>
											</p>

											<p>We're looking forward to hearing your feedback.</p>

											<p>Thanks,</p>
											<p>Tom</p>

											<p>
												Secretary Tom Perez<br> Department of Labor
											</p>


											<div align="center">
												<a href="http://click.mail.whitehouse.gov/?qs=2e1a04c2377cdb6fcd465c2d8ee47936912f030214b5899b2798d9036e6309ff9ab80122cd532439" target="_blank"> <img
													src="https://ci5.googleusercontent.com/proxy/LB_PrmmveUYa2lp6huG9CDo15kqh3oJEMH_Dxt7CVQEIwIRfQ0ET5VPUv9EyaO8PGo6USJExgzvdZ_4UF2HPJArr8wYsG0WmTivCz8gQTS34q7iIoEgkeMoMenEb2TKV8HrNcEIt-Xc=s0-d-e1-ft#http://www.whitehouse.gov/sites/default/files/email-files/email_visit_whgov_02.jpg" border="0" alt="Visit WhiteHouse.gov" width="225" height="51" style="border: 0" class="CToWUd"></a>
											</div>
											<div style="text-align: center">
												<p>
													<span style="font-size: 8pt; color: #999999">This email was sent to&nbsp;<a href="mailto:lucascorreiaevangelista@gmail.com" style="color: #999999; text-decoration: none" target="_blank">lucascorreiaevangelista@<wbr>gmail.com
													</a>. <br> <a href="http://click.mail.whitehouse.gov/?qs=2e1a04c2377cdb6f0c1a1f026dd3573eeeccf71025f7b06efafb06b8e5394fc5da9c67e7e559f379" style="color: #336699" target="_blank">Unsubscribe</a> | <a href="http://click.mail.whitehouse.gov/?qs=2e1a04c2377cdb6fee0232031ada82a822945cac4056865f8c9379e33333399a30ac6fd0b5f3e556" title="Privacy Policy" style="color: #336699" target="_blank">Privacy
															Policy</a> <br> Please do not reply to this email. <a href="http://click.mail.whitehouse.gov/?qs=2e1a04c2377cdb6f4559035ea74d20d9409ecdd5fae9e2605be8cbccfa06fa9c95d2caab99f701b0" title="Contact the White House" style="color: #336699" target="_blank">Contact the White House</a></span>
												</p>

												<p>
													<span style="font-size: 8pt; color: #999999">The White House • 1600 Pennsylvania Ave NW • Washington, DC 20500 • <a href="tel:202-456-1111" value="+12024561111" target="_blank">202-456-1111</a></span>
												</p>
											</div>
											<p></p>
										</td>
										<td width="7" align="left" valign="top" bgcolor="#f5f5f5"><img src="https://ci6.googleusercontent.com/proxy/xLnx02rQDi7jRQrb1v6EVa8sW2F5HZcFAPJ_AZldBOuRgbMyXDMGyIQKwHQPMBbnHao3pm-I6F2n3IuQozt8bLeqjAkEsvVkS8RdcTE-hGMfdw=s0-d-e1-ft#http://www.whitehouse.gov/files/email/staff/email4_right.jpg" border="0" width="7" height="500" class="CToWUd"></td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
					<tr>
						<td style="line-height: 10pt" height="7px" bgcolor="#f5f5f5">&nbsp;</td>
					</tr>
				</tbody>
			</table>
		</div>
		<img
			src="https://ci5.googleusercontent.com/proxy/T4oukZiB-KW7A-RJimZ3W16wGJTRd82GT1Y9jzlInHUR7WrF29cXrxmg6OW9tTpgPxTqV6Z4e1w7GtSNtYCgR3o8kzf6GlthobyObn4qyQutvOcE2T4i_xtLouTbt5JfURvHIOB8dCW393qHaDkiMzvnYSHVzxYz20rCz7HGWo_LSVhkCDh1803V_MF1uSl1rlo4yJQN94x5SX4o03JyDMRRhasxpE6TOlM=s0-d-e1-ft#http://click.mail.whitehouse.gov/open.aspx?ffcb10-ff3516747467-fe511674756d01747c1c-fe8d1272776d077b73-ff991575-fe631572766c0d7d7115-ff061572756600"
			width="1" height="1" class="CToWUd">
		<div class="yj6qo"></div>
		<div class="adL"></div>
	</div>
</div>