<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<div id=":3w2" class="ii gt m14bcaedf67bed5c1 adP adO">
	<div id=":3w6" class="a3s" style="overflow: hidden;">
		<u></u>
		<div bgcolor="#ebebeb">
			<table bgcolor="#ebebeb" border="0" cellpadding="0" cellspacing="0" width="100%">
				<tbody>
					<tr align="center">
						<td align="center">
							<table border="0" cellpadding="0" cellspacing="0">
								<tbody>
									<tr>
										<td align="center" height="30" style="height: 30px">&nbsp;</td>
									</tr>
									<tr>
										<td align="center">
											<table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" style="text-align: center; border: #e3e3e3 solid 1px; border-radius: 7px" width="382">
												<tbody>
													<tr>
														<td align="center">
															<table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" style="border-radius: 7px" width="380">
																<tbody>
																	<tr>
																		<td align="center" style="width: 35px">&nbsp;</td>
																		<td align="center">
																			<table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" style="text-align: center" width="310">
																				<tbody>
																					<tr>
																						<td align="center" height="40" style="height: 40px">&nbsp;</td>
																					</tr>
																					<tr align="center">
																						<td style="text-align: center"><img alt="" height="80" src="@{getImage(institution.id).raw()}" style="border-radius: 5%; border: #e3e3e3 solid 1px" width="80" class="CToWUd"></td>
																					</tr>
																					<tr>
																						<td align="center" height="20" style="height: 20px">&nbsp;</td>
																					</tr>
																					<tr>
																						<td align="center"><span style="font-size: 20px; line-height: 26px; font-family: HelveticaNeue-Light, Helvetica Neue, Helvetica, Arial, sans-serif; color: #636363; font-weight: lighter; text-align: center">${template.title1.raw()}<span><br> <br> <span
																									style="font-size: 17px; line-height: 26px; font-family: HelveticaNeue-Light, Helvetica Neue, Helvetica, Arial, sans-serif; color: #636363; font-weight: lighter; text-align: center">${template.subTitle1.raw()}</span></td>
																					</tr>
																					<tr>
																						<td align="center" height="20" style="height: 20px; border-bottom: #e3e3e3 solid 1px">&nbsp;</td>
																					</tr>
																					<tr>
																						<td align="center"><u></u>
																							<div
																								style="color: #000; font-family: &amp; amp; amp; amp; amp; amp; quot; Helvetica Neue Light&amp;amp; amp; amp; amp; amp; quot; ,&amp; amp; amp; amp; amp; amp; quot; HelveticaNeue-Light &amp;amp; amp; amp; amp; amp; quot; ,&amp; amp; amp; amp; amp; amp; quot; Helvetica Neue&amp;amp; amp; amp; amp; amp; quot; , Helvetica ,Arial,sans-serif; font-size: 15px; line-height: 22px">
																								<table style="border: none; width: 100%; padding-top: 20px; background: #ffffff">
																									<tbody>
																										<tr style="margin: 0 auto; min-height: 33px; max-height: 33px"></tr>
																									<br> <span style="font-size: 17px; line-height: 26px; font-family: Helvetica Neue-Light, Helvetica Neue, Helvetica, Arial, sans-serif; color: #636363; font-weight: lighter; text-align: center">${template.title2.raw()}</span></td>
																										<tr style="margin: 0 auto; min-height: 33px; max-height: 33px">
																											<td style="border-collapse: collapse; min-width: 30px; width: 30px; height: 33px; background-color: white; clear: both"><img src="@{'/public/images/icon-email.png'}" style="display: block" class="CToWUd"></td>
																											<td
																												style="border-collapse: collapse; max-height: 33px; vertical-align: baseline; line-height: 29px; font-size: 17px; min-height: 33px; margin: 0 auto 0; height: 33px; outline: none; font-family: &amp; amp; amp; amp; amp; amp; quot; Helvetica Neue Light&amp;amp; amp; amp; amp; amp; quot; ,&amp; amp; amp; amp; amp; amp; quot; HelveticaNeue-Light &amp;amp; amp; amp; amp; amp; quot; ,&amp; amp; amp; amp; amp; amp; quot; Helvetica Neue&amp;amp; amp; amp; amp; amp; quot; , Helvetica ,Arial,sans-serif; color: #636363; max-width: 180px; text-align: left">
																												<div style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; word-wrap: break-word; word-break: break-all; max-height: 33px">
																													<a href="#" style="max-height: 33px; color: inherit; text-decoration: none; font-family: Arial; color: #636363">${institution.email.raw()}</a>
																												</div>
																											</td>
																										</tr>
																										<tr style="margin: 0 auto; min-height: 33px; max-height: 33px">
																											<td style="border-collapse: collapse; min-width: 30px; width: 30px; height: 33px; background-color: white; clear: both"><img src="@{'/public/images/icon-phone.png'}" style="display: block" class="CToWUd"></td>
																											<td
																												style="border-collapse: collapse; max-height: 33px; vertical-align: baseline; line-height: 29px; font-size: 17px; min-height: 33px; margin: 0 auto 0; height: 33px; outline: none; font-family: &amp; amp; amp; amp; amp; amp; quot; Helvetica Neue Light&amp;amp; amp; amp; amp; amp; quot; ,&amp; amp; amp; amp; amp; amp; quot; HelveticaNeue-Light &amp;amp; amp; amp; amp; amp; quot; ,&amp; amp; amp; amp; amp; amp; quot; Helvetica Neue&amp;amp; amp; amp; amp; amp; quot; , Helvetica ,Arial,sans-serif; text-align: left; color: #f26522; max-width: 180px">
																												<div style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; word-wrap: break-word; word-break: break-all; max-height: 33px">
																													<a href="#" style="max-height: 33px; color: inherit; text-decoration: none; font-family: Arial; color: #636363">${institution.phone1.raw()}</a>
																												</div>
																											</td>

																										</tr>

																									</tbody>
																								</table>
																							</div></td>
																					</tr>
																					<tr>
																						<td align="center" height="20" style="height: 20px; border-bottom: #e3e3e3 solid 1px">&nbsp;</td>
																					</tr>
																					<tr>
																						<td align="center" height="40" style="height: 40px">&nbsp;</td>
																					</tr>
																					<tr>
																						<td align="center" bgcolor="#4098bc" style="border-radius: 5px">
																							<div>
																								<a href="" style="background-color: #4098bc; border-radius: 5px; color: #ffffff; display: inline-block; font-family: sans-serif; font-size: 16px; font-weight: bold; line-height: 50px; text-align: center; text-decoration: none; width: 310px" target="_blank">Entre em contato</a>
																							</div>
																						</td>
																					</tr>
																					<tr>
																						<td align="center" style="font-size: 11px; color: #cfcfcf; font-style: italic; text-align: center; padding-top: 5px; font-family: HelveticaNeue-Light, Helvetica Neue, Helvetica, Arial, sans-serif">Clique e preencha o formulário a seguir</td>
																					</tr>
																					<tr>
																						<td align="center" height="40" style="height: 40px">&nbsp;</td>
																					</tr>
																				</tbody>
																			</table>
																		</td>
																		<td align="center" style="width: 35px">&nbsp;</td>
																	</tr>
																</tbody>
															</table>
														</td>
													</tr>
													<tr>
														<td align="center">
															<table bgcolor="#f7f7f7" border="0" cellpadding="0" cellspacing="0" style="border-top: #e3e3e3 solid 1px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px" width="380">
																<tbody>
																	<tr>
																		<td align="center">
																			<span style="font-size: 12px; line-height: 26px; font-family: HelveticaNeue-Light, Helvetica Neue, Helvetica, Arial, sans-serif; color: #636363; font-weight: lighter; text-align: center">${template.footer1.raw()}</span>
																		</td>
																		
																					</tr>
																		<td align="center">
																			<table align="center" border="0" cellpadding="0" cellspacing="0" width="310">
																				<tbody>
																				</tbody>
																			</table>
																		</td>
																</tbody>
															</table>
														</td>
													</tr>
												</tbody>
											</table>
										</td>
									</tr>
									<tr align="center">
										<td align="center">
											<table border="0" cellpadding="0" cellspacing="0" style="text-align: center" width="382">
												<tbody>
													<tr>
														<td align="center"><span style="font-size: 11px; color: #858585; font-family: Helvetica Neue, Helvetica, Arial, sans-serif; text-align: center; line-height: 30px">Favor, responda este e-mail clicando no botão acima.</span></td>
													</tr>
													<tr style="text-align: center">
														<td align="center"><span style="line-height: 40px; color: black; font-size: 15px; text-align: center"><a
																href=""
																style="color: #9a9a9a; font-size: 11px; font-family: Helvetica Neue, Helvetica, Arial, sans-serif" target="_blank">Não quero mais receber estes e-mails.</a> </span></td>
													</tr>
												</tbody>
											</table>
										</td>
									</tr>
									<tr>
										<td align="center" height="30" style="height: 30px">&nbsp;</td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="yj6qo"></div>
			<div class="adL"></div>
		</div>
		<div class="adL"></div>
	</div>
</div>