<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>Atom a Corporate Category Flat Bootstarp responsive Website Template| HOME :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Atom Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="css/style.css" rel='stylesheet' type='text/css' />
<script src="js/jquery-1.11.0.min.js"></script>
<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
<!---- start-smoth-scrolling---->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>

<!--start-smoth-scrolling-->
</head>
<body>
<!--start-banner-->
	<div class="banner" id="home">
		<div class="container">
			<div class="header">
			<div class="logo">
				<a href="index.html"><img src="images/logo.png" alt=""></a>
			</div>
			<div class="navigation">
				 <span class="menu"></span> 
					<ul class="navig">
						<li><a href="index.html" class="scroll">Home</a></li>
						<li><a href="#about" class="scroll active">About Us</a></li>
						<li><a href="#pricing" class="scroll">Pricing</a></li>
						<li><a href="#features" class="scroll">Features</a></li>
						<li><a href="#products" class="scroll">Products</a></li>
						<li><a href="#testimonials" class="scroll">testimonials</a></li>
						<li><a href="#contact" class="scroll">contact</a></li>
					</ul>
			</div>
				<div class="clearfix"></div>
			</div>
			<div class="banner-btm">
				<div  id="top" class="callbacks_container">
			      	<ul class="rslides" id="slider4">
			        	<li>
							<div class="banner-bottom">
								<h1>We design & develop qaulity products to help small & medium level business.</h1>
								<p>Lorem ipsum dolor sit amet, libero turpis non cras ligula, id commodo, aenean est in volutpa</p>
							</div>
						</li>
						<li>
							<div class="banner-bottom">
								<h1>We develop qaulity products to help small & medium level business.</h1>
								<p>Lorem ipsum dolor sit amet, libero turpis non cras ligula, id commodo, aenean est in volutpa</p>
							</div>
						</li>
						<li>
							<div class="banner-bottom">
								<h1>We design qaulity products to help small & medium level business.</h1>
								<p>Lorem ipsum dolor sit amet, libero turpis non cras ligula, id commodo, aenean est in volutpa</p>
							</div>
						</li>
						<li>
							<div class="banner-bottom">
								<h1>We design & develop qaulity products to help small & medium level business.</h1>
								<p>Lorem ipsum dolor sit amet, libero turpis non cras ligula, id commodo, aenean est in volutpa</p>
							</div>
						</li>
			      	</ul>
			    </div>
			  <div class="clearfix"> </div>
			</div>
			</div>
		</div>	
	<!-- script-for-menu -->
		 <script>
				$("span.menu").click(function(){
					$(" ul.navig").slideToggle("slow" , function(){
					});
				});
		 </script>
		 <!-- script-for-menu -->
		 <!--Slider-Starts-Here-->
				<script src="js/responsiveslides.min.js"></script>
			 <script>
			    // You can also use "$(window).load(function() {"
			    $(function () {
			      // Slideshow 4
			      $("#slider4").responsiveSlides({
			        auto: true,
			        pager: true,
			        nav: true,
			        speed: 500,
			        namespace: "callbacks",
			        before: function () {
			          $('.events').append("<li>before event fired.</li>");
			        },
			        after: function () {
			          $('.events').append("<li>after event fired.</li>");
			        }
			      });
			
			    });
			  </script>
			<!--End-slider-script-->	
	<!--end-banner-->
	<!--start-client-->
	<div class="client">
		<div class="container">
			<div class="client-main">
				<div class="client-left">
					<img src="images/client-1.png" alt="" />
				</div>
				<div class="client-left">
					<img src="images/client-2.png" alt="" />
				</div>
				<div class="client-left">
					<img src="images/client-3.png" alt="" />
				</div>
				<div class="client-left">
					<img src="images/client-4.png" alt="" />
				</div>
				<div class="client-left">
					<img src="images/client-5.png" alt="" />
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!--end-client-->
	<!--start-about-->
	<div class="about" id="about">
		<div class="container">
			<div class="about-main">
				<img src="images/abt-1.png" alt="" />
				<h3>What is Special About Atom App</h3>
				<p>Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium sic ad nauseum.</p>
			</div>
			<div class="about-bottom">
			<div class="abt">
				<div class="col-md-4 about-left active">
					<div class="abt-one">
						<div class="abt-left">
							<span class="hnd active"> </span>
						</div>
						<div class="abt-right">
							<h4>Built with Bootstrap 3.0</h4>
							<p>aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis.</p>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="col-md-4 about-left">
					<div class="abt-one">
						<div class="abt-left">
							<span class="d"> </span>
						</div>
						<div class="abt-right">
							<h4>Responsive Design</h4>
							<p>aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis.</p>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="col-md-4 about-left">
					<div class="abt-one">
						<div class="abt-left">
							<span class="ar"> </span>
						</div>
						<div class="abt-right">
							<h4>Retine Display</h4>
							<p>aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis.</p>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="clearfix"></div>
				</div>
				<div class="abt">
				<div class="col-md-4 about-left">
					<div class="abt-one">
						<div class="abt-left">
							<span class="flg"> </span>
						</div>
						<div class="abt-right">
							<h4>Theme Builder</h4>
							<p>aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis.</p>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="col-md-4 about-left">
					<div class="abt-one">
						<div class="abt-left">
							<span class="flr"> </span>
						</div>
						<div class="abt-right">
							<h4>Support</h4>
							<p>aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis.</p>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="col-md-4 about-left">
					<div class="abt-one">
						<div class="abt-left">
							<span class="ard"> </span>
						</div>
						<div class="abt-right">
							<h4>Versioning</h4>
							<p>aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis.</p>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
	<!--end-about-->
	<!--start-special-->
	<div class="special" id="features">
		<div class="container">
			<div class="special-top">
				<div class="col-md-3 spl-left">
					<div class="spl-one">
						<span class="hnd"></span>
						<h4>In Business</h4>
						<p>2006</p>
					</div>
				</div>
				<div class="col-md-3 spl-left active">
					<div class="spl-one">
						<span class="wtp active"></span>
						<h4>Clients Served</h4>
						<p>240</p>
					</div>
				</div>
				<div class="col-md-3 spl-left">
					<div class="spl-one">
						<span class="sml"> </span>
						<h4>Projects Delivered</h4>
						<p>120</p>
					</div>
				</div>
				<div class="col-md-3 spl-left">
					<div class="spl-one">
						<span class="dar"></span>
						<h4>Awards Won</h4>
						<p>10</p>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="special-bottom" id="products">
				</span><img src="images/spl.png" alt="" />
				<h3>What is Special About Atom App</h3>
				<p>Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium sic ad nauseum.</p>
			</div>	
				<div class="special-btm">
					<div class="portfolios entertain_box  wow fadeInUp" data-wow-delay="0.4s" id="portfolio">
			<div class="portfolio-top">
			<ul id="filters" class="clearfix">
						<li><span class="filter active" data-filter="app card icon logo web">ALL</span></li>
						<li><span class="filter" data-filter="app">IDENTITY</span></li>
						<li><span class="filter" data-filter="photo">GRAPHIC</span></li>
						<li><span class="filter" data-filter="card">WEB</span></li>
					</ul>
					<div id="portfoliolist">
					<div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;">
						<div class="portfolio-wrapper">		
							<a href="images/p-1.jpg" class="b-link-stripe b-animate-go   swipebox"  title="Image Title">
						     <img src="images/port-1.jpg" /><div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 ">Processing Steps Web</h2>
						  	 </div></a>
		                </div>
					</div>				
					<div class="portfolio card mix_all" data-cat="card" style="display: inline-block; opacity: 1;">
						<div class="portfolio-wrapper">		
							<a href="images/p-2.jpg" class="b-link-stripe b-animate-go   swipebox"  title="Image Title">
						     <img src="images/port-2.jpg" /><div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 ">Processing Steps Web</h2>
						  	 </div></a>
		               </div>
					</div>		
					<div class="portfolio photo mix_all" data-cat="photo" style="display: inline-block; opacity: 1;">
						<div class="portfolio-wrapper">		
							<a href="images/p-3.jpg" class="b-link-stripe b-animate-go   swipebox"  title="Image Title">
						     <img src="images/port-3.jpg" /><div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 ">Processing Steps Web</h2>
						  	 </div></a>
		                </div>
					</div>				
					<div class="portfolio card mix_all" data-cat="card" style="display: inline-block; opacity: 1;">
						<div class="portfolio-wrapper">		
							<a href="images/p-4.jpg" class="b-link-stripe b-animate-go   swipebox"  title="Image Title">
						     <img src="images/port-4.jpg" /><div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 ">Processing Steps Web</h2>
						  	 </div></a>
		                </div>
					</div>	
					<div class="portfolio photo mix_all" data-cat="photo" style="display: inline-block; opacity: 1;">
						<div class="portfolio-wrapper">		
							<a href="images/p-5.jpg" class="b-link-stripe b-animate-go   swipebox"  title="Image Title">
						     <img src="images/port-5.jpg" /><div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 ">Processing Steps Web </h2>
						  	 </div></a>
		                </div> 
					</div>			
					<div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;">
						<div class="portfolio-wrapper">		
							<a href="images/p-6.jpg" class="b-link-stripe b-animate-go  swipebox"  title="Image Title">
						     <img src="images/port-6.jpg" /><div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 ">Processing Steps Web</h2>
						  	 </div></a>
		                </div>
		                
					</div>		
			</div>
		</div>
		</div>
				</div>
			</div>
		</div>
	<!--end-special-->
	<link rel="stylesheet" href="css/swipebox.css">
	<script src="js/jquery.swipebox.min.js"></script> 
	    <script type="text/javascript">
			jQuery(function($) {
				$(".swipebox").swipebox();
			});
		</script>
	<!-- Portfolio Ends Here -->
	<script type="text/javascript" src="js/jquery.mixitup.min.js"></script>
<script type="text/javascript">
$(function () {
	
	var filterList = {
	
		init: function () {
		
			// MixItUp plugin
		// http://mixitup.io
		$('#portfoliolist').mixitup({
			targetSelector: '.portfolio',
			filterSelector: '.filter',
			effects: ['fade'],
			easing: 'snap',
			// call the hover effect
			onMixEnd: filterList.hoverEffect()
		});				
	
	},
	
	hoverEffect: function () {
	
		// Simple parallax effect
		$('#portfoliolist .portfolio').hover(
			function () {
				$(this).find('.label').stop().animate({bottom: 0}, 200, 'easeOutQuad');
				$(this).find('img').stop().animate({top: -30}, 500, 'easeOutQuad');				
			},
			function () {
				$(this).find('.label').stop().animate({bottom: -40}, 200, 'easeInQuad');
				$(this).find('img').stop().animate({top: 0}, 300, 'easeOutQuad');								
			}		
		);				
	
	}

};

// Run the show!
	filterList.init();
	
});	
</script>

	<!--start-pricing-->
	<div class="pricing" id="pricing">
		<div class="container">
			<div class="pricing-top">
				<img src="images/price-1.png" alt="" />
				<h3>What is Special About Atom App</h3>
				<p>Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium sic ad nauseum.</p>
			</div>
			<div class="pricing-bottom">
				<div class="col-md-4 pricing-left">
					<div class="price-one">
						<h4>BASIC</h4>
						<span></span>
						<h6><sup>$</sup>25<sub>/month</sub></h6>
						<p>60 Users</p>
						<p>Unlimited Forums</p>
						<p>Unlimited Reports</p>
						<p>3,000 Entries per Month</p>
						<p>200 MB Storage</p>
						<p>Unlimited Support</p>
						<div class="p-btn">
							<a href="#">SIGN UP</a>
						</div>
					</div>
				</div>
				<div class="col-md-4 pricing-left active">
					<div class="price-one">
						<h4>BASIC</h4>
						<span></span>
						<h6><sup>$</sup>25<sub>/month</sub></h6>
						<p>60 Users</p>
						<p>Unlimited Forums</p>
						<p>Unlimited Reports</p>
						<p>3,000 Entries per Month</p>
						<p>200 MB Storage</p>
						<p>Unlimited Support</p>
						<div class="p-btn">
							<a href="#">SIGN UP</a>
						</div>
					</div>
				</div>
				<div class="col-md-4 pricing-left">
					<div class="price-one">
						<h4>BASIC</h4>
						<span></span>
						<h6><sup>$</sup>25<sub>/month</sub></h6>
						<p>60 Users</p>
						<p>Unlimited Forums</p>
						<p>Unlimited Reports</p>
						<p>3,000 Entries per Month</p>
						<p>200 MB Storage</p>
						<p>Unlimited Support</p>
						<div class="p-btn">
							<a href="#">SIGN UP</a>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!--end-pricing-->
	<!--start-testimonials-->
	<div class="test" id="testimonials">
		<div class="container">
			<div class="test-top">
				<img src="images/test-1.png" alt="" />
				<h3>What is Special About Atom App</h3>
				<p>Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium sic ad nauseum.</p>
			</div>
			<div class="test-bottom">
				<div class="col-md-4 test-bottom-left">
					<div class="test-left">
						<p><span>@atom</span> I love this #app. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Imperdiet nulla sem fringilla, purus enim amet, nascetur faucibus, adipiscing neque ut bibendum, at felis nec in. Mauris ultricies, et pede id potenti in nec, mi elit rhoncus ligula, mollis lacus congue scelerisque magna.</p>
						<div class="test-btm">
							<div class="test-1">
								<img src="images/test-2.png" alt="" />
							</div>
							<div class="test-2">
								<h4>John Doe</h4>
								<label>Manchester, UK</label>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
				<div class="col-md-4 test-bottom-left">
					<div class="test-left">
						<p><span>@atom</span> I love this #app. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Imperdiet nulla sem fringilla, purus enim amet, nascetur faucibus, adipiscing neque ut bibendum, at felis nec in. Mauris ultricies, et pede id potenti in nec, mi elit rhoncus ligula, mollis lacus congue scelerisque magna.</p>
						<div class="test-btm">
							<div class="test-1">
								<img src="images/test-3.png" alt="" />
							</div>
							<div class="test-2">
								<h4>Christine Heal</h4>
								<label>Bristol, UK</label>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
				<div class="col-md-4 test-bottom-left">
					<div class="test-left">
						<p><span>@atom</span> I love this #app. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Imperdiet nulla sem fringilla, purus enim amet, nascetur faucibus, adipiscing neque ut bibendum, at felis nec in. Mauris ultricies, et pede id potenti in nec, mi elit rhoncus ligula, mollis lacus congue scelerisque magna.</p>
						<div class="test-btm">
							<div class="test-1">
								<img src="images/test-4.png" alt="" />
							</div>
							<div class="test-2">
								<h4>Abraham Doe</h4>
								<label>Bristol, UK</label>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!--end-testimonials-->
	<!--start-account-->
	<div class="account">
		<div class="container">
			<div class="account-main">
				<div class="col-md-8 account-left">
					<p>Say goodbye to Net 60. Try App for free.</p>
				</div>
				<div class="col-md-4 account-right">
					<a class="play-icon popup-with-zoom-anim" href="#small-dialog"><span> </span>CREATE A FREE ACCOUNT</a>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!--end-account-->
	<!---pop-up-box---->
					  <script type="text/javascript" src="js/modernizr.custom.min.js"></script>    
					<link href="css/popup-box.css" rel="stylesheet" type="text/css" media="all"/>
					<script src="js/jquery.magnific-popup.js" type="text/javascript"></script>
					<!---//pop-up-box---->
				<div id="small-dialog" class="mfp-hide">
						<div class="login">
							<h3>Create Account</h3>
							<input type="text"  placeholder="Name" requird=""/>
							<input type="text" placeholder="Email" requird="" />
							<input type="password" placeholder="Password" requird=""/>
							<input type="password" placeholder="Conform Password" requird=""/>
							<input type="submit" value="Sign Up" />
							<div class="lgn">
								<h3>Login</h3>
							<input type="text" placeholder="Email" requird="" />
							<input type="password" placeholder="Password" requird="" />
							<div class="ln-btn">
								<input type="submit" value="Login" />
							</div>
							</div>
						</div>
					</div>
				 <script>
						$(document).ready(function() {
						$('.popup-with-zoom-anim').magnificPopup({
							type: 'inline',
							fixedContentPos: false,
							fixedBgPos: true,
							overflowY: 'auto',
							closeBtnInside: true,
							preloader: false,
							midClick: true,
							removalDelay: 300,
							mainClass: 'my-mfp-zoom-in'
						});
																						
						});
				</script>					
		<!--End-pop-up-box-->
	<!--start-contact-->
	<div class="contact" id="contact">
		<div class="container">
			<div class="contact-top">
				<img src="images/spl.png" alt="" />
				<h3>What is Special About Atom App</h3>
				<p>Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium sic ad nauseum.</p>
			</div>
			<div class="contact-bottom">
				<input type="text" value="Your Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your Name';}"/>
				<input type="text" value="Your Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your Email';}"/>
				<textarea value="Your Message" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your Message';}">Your Message</textarea>
				<div class="contact-but">
							<input type="submit" value="SEND MESSAGE" />
						</div>
			</div>
		</div>
	</div>
	<!--end-contact-->
	<!--start-map-->
	<div class="map">
		<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3887.934190118153!2d77.63611399999999!3d12.976061!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae16a3f47ada21%3A0x6959ab57b8bec812!2sDFS%2C+No+184+1st+Floor!5e0!3m2!1sen!2sin!4v1421480060066" frameborder="0" style="border:0"></iframe>
		<div class="map-bottom">
			<p>Manchester, E13 8 London, UK</p>
		</div>
	</div>
	<!--end-map-->
	<!--start-footer-->
	<div class="footer">
		<div class="container">
			<div class="footer-main">
				<p>&copy 2015 Atom. Template by<a href="http://w3layouts.com/"> w3layouts</a></p>
				<ul>
					<li><a href="#"><span class="fb"> </span></a></li>
					<li><a href="#"><span class="twt"> </span></a></li>
					<li><a href="#"><span class="p"> </span></a></li>
					<li><a href="#"><span class="d"> </span></a></li>
				</ul>
			</div>
		</div>
		 <script type="text/javascript">
									$(document).ready(function() {
										/*
										var defaults = {
								  			containerID: 'toTop', // fading element id
											containerHoverID: 'toTopHover', // fading element hover id
											scrollSpeed: 1200,
											easingType: 'linear' 
								 		};
										*/
										
										$().UItoTop({ easingType: 'easeOutQuart' });
										
									});
								</script>
		<a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	</div>
	<!--end-footer-->
</body>
</html>