#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.list.title', type.name) /}
<meta charset="utf-8" />
	<div class="col-lg-6">
		#{crud.search /}
	</div>
	<div class="col-lg-12 ${type.name}">
        <div class="panel panel-default">
        	<div class="panel-heading"></div>
            <div class="panel-body">
            	<div class="dataTable_wrapper">
			        #{crud.table fields:['postedAt', 'institution', 'slogan', 'email', 'action']}
				        #{crud.custom 'postedAt'}
			         		<a href="@{InstitutionCRUD.show(object.id)}">${object.postedAt.format("dd/MM/yyyy HH'h'mm")}</a>
				        #{/crud.custom}
				        #{crud.custom 'institution'}
			         		<a href="@{InstitutionCRUD.show(object.id)}">${object.institution}</a>
				        #{/crud.custom}
				        #{crud.custom 'slogan'}
			         		<a href="@{InstitutionCRUD.show(object.id)}">${object.slogan}</a>
				        #{/crud.custom}
				        #{crud.custom 'email'}
			         		<a href="@{InstitutionCRUD.show(object.id)}">${object.email}</a>
				        #{/crud.custom}
				        #{crud.custom 'action'}
				       		<a href="@{InstitutionCRUD.show(object.id)}" class="btn btn-default"><i class="fa fa-edit"></i></a>
				        #{/crud.custom}
				    #{/crud.table}
   					<div class="alert alert-info alert-dismissable">
						#{crud.pagination /}
	   				</div>
   				</div>
   			</div>
   				<div class="col-lg-6">
   			</div>
   		</div>
   	</div>
	<div class="col-lg-6">
		#{form action:@create(), enctype:'multipart/form-data'}
			<div class="form-group">
				<label for="object_cep"> CEP </label>
				#{ifError 'institution.cep'}
			        <label class="control-label-red" for="${object.cep}">#{error 'institution.cep' /}</label>
			    #{/ifError}
				<input id="object_cep" class="form-control cep" type="text" size="50" name="institution.cep" value="${institutioncep}">
			    <p class="help-block"> Digite apenas números</p>
			</div>
		#{/form}
	</div>
    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
    $(document).ready(function() {
        $('#dataTables-example').DataTable({
                responsive: true
        });
    });
    </script>