#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.show.title', type.modelName) /}
<meta charset="utf-8" />
<div class="col-lg-12">
   	<div class="panel panel-default">
        <div class="panel-heading">
            &{'crud.show.title', type.modelName}
        </div>
        <div class="panel-body">
           	<div class="row">
               	<div class="col-lg-6">
					#{form action:@save(object._key()), enctype:'multipart/form-data'}
						#{crud.form}
							#{crud.custom 'cep'}
								<div class="form-group">
									<label for="object_cep"> CEP </label>
									<input id="object_cep" class="form-control cep" type="text" size="50" name="object.cep" value="${object.cep}">
								</div>
							#{/crud.custom}
							#{crud.custom 'cnpj'}
								<div class="form-group">
	                         		<label for="object_cnpj"> CNPJ </label>
	                         		#{ifError 'object.cnpj'}
								        <label class="control-label-red" for="${object.cnpj}">#{error 'object.cnpj' /}</label>
								    #{/ifError}
	       							<input id="object_cnpj" class="form-control cnpj" type="text" name="object.cnpj" value="${object.cnpj}" size="50" />
								    <p class="help-block"> Digite apenas números</p>
								</div>
							#{/crud.custom}
	    					#{crud.custom 'phone1'}
								<div class="form-group">
									<label for="object_phone1"> Telefone 1 </label>
									<input id="object_phone1" class="form-control sp_celphones" type="text" size="50" name="object.phone1" value="${object.phone1}">
								</div>
							#{/crud.custom}
	    					#{crud.custom 'phone2'}
								<div class="form-group">
									<label for="object_phone2"> Telefone 2 </label>
									<input id="object_phone2" class="form-control sp_celphones" type="text" size="50" name="object.phone2" value="${object.phone2}">
								</div>
							#{/crud.custom}
	    					#{crud.custom 'phone3'}
								<div class="form-group">
									<label for="object_phone3"> Telefone 3 </label>
									<input id="object_phone3" class="form-control sp_celphones" type="text" size="50" name="object.phone3" value="${object.phone3}">
								</div>
							#{/crud.custom}
	    					#{crud.custom 'cellphone'}
								<div class="form-group">
									<label for="object_cellphone"> Celular </label>
									<input id="object_cellphone" class="form-control sp_celphones" type="text" size="50" name="object.cellphone" value="${object.cellphone}">
								</div>
							#{/crud.custom}
	    					#{crud.custom 'countryId'}
								<input id="object_countryId" type="hidden" name="object.countryId" value="1">
							#{/crud.custom}
	    					#{crud.custom 'stateId'}
								<div class="form-group">
									#{include 'includes/selectStates.html' /}
								</div>
							#{/crud.custom}
	    					#{crud.custom 'cityId'}
								<div class="form-group">
									#{include 'includes/selectCities.html' /}
								</div>
							#{/crud.custom}
	    					#{crud.custom 'postedAt'}
								<input id="object_postedAt" class="form-control " type="hidden" name="object.postedAt" />
							#{/crud.custom}
						#{/crud.form}
						<div class="form-group" style="float: right">
							<input type="submit" name="_save" value="&{'crud.save', type.modelName}" class="btn btn-default" />
				            <input type="submit" name="_saveAndContinue" value="&{'crud.saveAndContinue', type.modelName}" class="btn btn-default" />
						</div>
						#{include 'includes/scriptCep.html' /}
					#{/form}
				</div>
			</div>
		</div>
	</div>
</div>