<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Low cost Managed Linux VPS with 24x7 US-based Linux Admin support, free weekly backups, free website migration and 100% Uptime &gt;&gt;Since 2001&lt;&lt;">
<meta name="author" content="RoseHosting">
<link rel="apple-touch-icon" sizes="57x57" href="https://www.rosehosting.com/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="114x114" href="https://www.rosehosting.com/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="72x72" href="https://www.rosehosting.com/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="144x144" href="https://www.rosehosting.com/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="60x60" href="https://www.rosehosting.com/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="120x120" href="https://www.rosehosting.com/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="76x76" href="https://www.rosehosting.com/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="152x152" href="https://www.rosehosting.com/apple-touch-icon-152x152.png">
<link rel="icon" type="image/png" href="https://www.rosehosting.com/favicon-196x196.png" sizes="196x196">
<link rel="icon" type="image/png" href="https://www.rosehosting.com/favicon-160x160.png" sizes="160x160">
<link rel="icon" type="image/png" href="https://www.rosehosting.com/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="https://www.rosehosting.com/favicon-16x16.png" sizes="16x16">
<link rel="icon" type="image/png" href="https://www.rosehosting.com/favicon-32x32.png" sizes="32x32">
<meta name="msapplication-TileColor" content="#000000">
<meta name="msapplication-TileImage" content="/mstile-144x144.png">
<meta name="keywords" content="ssd server, ssd vps hosting, vps, vps server, vps server hosting, vps hosting, virtual server, virtual private server, ubuntu server, centos server, debian server, linux server, fedora server">
<meta property="twitter:card" content="Low cost Managed Linux VPS with 24x7 US-based Linux Admin support, free weekly backups, free website migration and 100% Uptime &gt;&gt;Since 2001&lt;&lt;">
<meta property="twitter:site" content="RoseHosting">
<meta property="twitter:title" content="Fully Managed SSD VPS, SSD VPS Server, Ultra-fast VPS Server, VPS Server, Linux VPS">
<meta property="twitter:description" content="Low cost Managed Linux VPS with 24x7 US-based Linux Admin support, free weekly backups, free website migration and 100% Uptime &gt;&gt;Since 2001&lt;&lt;">
<meta property="og:title" content="Fully Managed SSD VPS, SSD VPS Server, Ultra-fast VPS Server, VPS Server, Linux VPS">
<meta property="og:description" content="Low cost Managed Linux VPS with 24x7 US-based Linux Admin support, free weekly backups, free website migration and 100% Uptime &gt;&gt;Since 2001&lt;&lt;">
<meta property="og:site_name" content="RoseHosting">
<meta property="og:image" content="https://www.rosehosting.com/img/rh-og-image.jpg'}">

<title>BemVindo - Mantenha Seus Visitantes Próximos!</title>
<!-- Bootstrap core CSS -->
<link href="@{'public/stylesheets/combined.css'}" rel="stylesheet">

<link charset="utf-8" class="lazyload" href="@{'public/stylesheets/style.css'}" rel="stylesheet" type="text/css">
</head>

<body class="rh">
	<header>
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<a href="/" class="navbar-brand"> <img alt="RoseHosting.com" src="@{'public/images/logo.png'}">

					</a>
					<button data-target="#navbar-main" data-toggle="collapse" type="button" class="navbar-toggle">
						<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
					</button>
				</div>
				<div id="navbar-main" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/como-funciona">Como Funciona</a></li>
						<li><a href="/contato">Contato</a></li>
						<li class="login-btn"><a href="/login">Entrar</a></li>
						<li class="visible-sm visible-md"><a href="@{Application.formNewUser()}">Criar Conta</a></li>
						<li class="hidden-md"><div>
								<a href="@{Application.formNewUser()}" class="btn btn-border-nav navbar-btn hidden-xs" id="btn-signup-top">Criar Conta</a>
							</div></li>

					</ul>
				</div>
			</div>
		</nav>
	</header>

	<div class="offset"></div>


	<div class="jumbotron home-page with-image">
		<div class="container">
			<h1 class="wow fadeInDown animated" style="visibility: visible;">
				<b>Mantenha seus visitantes próximos</b>
			</h1>

			<h2 class="wow fadeInUp animated" style="visibility: visible;">
				Experimente por <b>30 dias</b> grátis!
			</h2>

			#{form @Admin.form(), class:'form-inline'}
				<div class="form-group">
					<label class="sr-only" for="name">Nome</label> <input type="text" class="form-control" id="name" placeholder="Nome, ex: João" name="name" required="">
				</div>
				<div class="form-group">
					<label class="sr-only" for="email">E-mail</label> <input type="email" class="form-control" id="email" placeholder="E-mail" name="email" required="">
				</div>
				<div class="form-group">
					<label class="sr-only" for="password">Senha</label> <input type="password" class="form-control" id="password" placeholder="Senha" name="password" required="">
				</div>
				<button type="submit" class="btn btn-yellow">Criar Conta</button>
			#{/form}

			<div class="home-signup">
				<h2 class=" text-center">
					É Flexível. Personalize mensagens filtrando por faixa etária, idade, sexo... <br>Muito mais por apenas <b>R$ 89,90</b> por mês.
				</h2>
				<p class="text-center lead">
					<a class="inline-link" href="/como-funciona.html">Veja Como Funciona</a>
				</p>

			</div>

		</div>
	</div>

	<div class="home-content">
		<div class="home-hero">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center ">
						<h2>
							<b>Economize Tempo. Economize Papel.</b>
						</h2>
						<p>Defina grupos e envie mensagens a vontade.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="home-featured">
			<div class="container">

				<div class="row">
					<div class="col-sm-4 text-center">
						<h3>E-mail Marketing</h3>
						<p>Personalize facilmente mensagens de avisos, de aniversários, notícias...</p>
						<p>
							<a href="/" class="inline-link inline-link-dark">leia mais</a>
						</p>
					</div>
					<div class="col-sm-4 text-center">
						<h3>Templates Temáticos</h3>
						<p>Escreva o que você quer enviar e defina o template com um clique.</p>
						<p>
							<a href="/" class="inline-link inline-link-dark">leia mais</a>
						</p>
					</div>
					<div class="col-sm-4 text-center">
						<h3>E Os Que Não Têm E-mail?</h3>
						<p>Imprima modelos de carta e etiquetas para enviar por correio.</p>
						<p>
							<a href="/" class="inline-link inline-link-dark">leia mais</a>
						</p>
					</div>
				</div>
				<!-- /.row -->
			</div>
		</div>
	</div>
	<!-- End home content -->



	<!-- Include  Modals  -->
	<div class="modal fade" id="managedModal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content"></div>
		</div>
	</div>
	<div class="modal fade" id="migrationModal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content"></div>
		</div>
	</div>

	<footer class="main-footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">

					<div class="col-md-2 col-sm-3 col-xs-6">
						<ul class="list-unstyled">
						</ul>
					</div>

					<div class="col-md-2 col-sm-3 col-xs-6">
						<ul class="list-unstyled">
						</ul>
					</div>
					<div class="col-md-2 col-sm-3 col-xs-6">
						<ul class="list-unstyled">
						</ul>
					</div>
					<div class="col-md-2 col-sm-3 col-xs-6">
						<ul class="list-unstyled">
						</ul>
					</div>
					<div class="col-md-2 col-sm-3 col-xs-6">
						<ul class="list-unstyled">
						</ul>
					</div>
					<div class="col-md-2 col-sm-3 col-xs-6">
						<ul class="social-links list-unstyled">
							<li class="title"><a href="/comoFunciona" target="_blank">Como funciona</a></li>
							<li class="title"><a href="/comoFunciona" target="_blank">Contatos</a></li>
							<li><a href="tel:+18887673467">(888) Whatsapp</a></li>
							<li><a href="tel:+18887673467">(888) 767-3467</a></li>
							<li><a href="tel:+16465197201">(646) 519-7201</a></li>
							<li><a href="mailto:lucascorreiaevangelista@gmail.com">Email us</a></li>
							<li class="title"><a href="/comoFunciona" target="_blank">Redes sociais</a></li>
							<li><a href="http://twitter.com/rosehosting" target="_blank"><i class="fa fa-twitter fa-fw"></i> Twitter</a></li>
							<li><a href="https://www.facebook.com/RoseHosting" target="_blank"><i class="fa fa-facebook fa-fw"></i> Facebook</a></li>
							<li><a href="http://www.google.com/+Rosehosting" target="_blank"><i class="fa fa-google-plus fa-fw"></i> Google+</a></li>
							<li><a href="http://www.linkedin.com/in/rosehosting" target="_blank"><i class="fa fa-linkedin fa-fw"></i> LinkedIn</a></li>
							<li><a href="https://www.rosehosting.com/blog/feed/" target="_blank"><i class="fa fa-rss fa-fw"></i> RSS Feed</a></li>
						</ul>
					</div>

				</div>
			</div>
			<!-- END ROW -->
			<hr>
			<div class="row">
				<div class="col-lg-12">
					<div class="col-sm-6 tos-links">
						<ul class="list-inline">
							<li><a class="inline-link footer-policy" href="/">Termos de serviço e política</a></li>
						</ul>
					</div>
					<div class="col-sm-6 tos-links">
						<p class="muted pull-right">
							<a class="inline-link footer-policy" href="/">BemVindo!</a> © 2015
						</p>
					</div>
				</div>
			</div>
			<!-- END ROW -->

		</div>
		<!-- END CONTAINER -->
	</footer>
</body>
</html>