<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>BemVindo - Mantenha Seus Visitantes Próximos!</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Atom Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="@{'public/templatepublic/css/bootstrap.css'}" rel='stylesheet' type='text/css' />
<link href="@{'public/templatepublic/css/style.css'}" rel='stylesheet' type='text/css' />
<script src="@{'public/templatepublic/js/jquery-1.11.0.min.js'}"></script>
<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
<!---- start-smoth-scrolling---->
<script type="text/javascript" src="@{'public/templatepublic/js/move-top.js'}"></script>
<script type="text/javascript" src="@{'public/templatepublic/js/easing.js'}"></script>
<!--start-smoth-scrolling-->
</head>
<body>
<!--start-banner-->
	<div class="banner"  id="home">
		<div class="container">
			<div class="header">
				<div class="logo">
					<a href="@{Application.index}"><img src="@{'public/templatepublic/images/logo-small.png'}" alt="BemVindo - Inteligência em Marketing Digital" title="BemVindo - Inteligência em Marketing Digital" style="width: 60%"></a>
				</div>
				<div class="navigation">
					 <span class="menu"></span> 
						<ul class="navig">
							<li><a href="@{Application.index}" class="scroll active">INÍCIO</a></li>
							<li><a href="/login" class="active">ENTRAR</a></li>
						</ul>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	<script type="text/javascript"	src="@{'public/templatepublic/js/modernizr.custom.min.js'}"></script>
	<script src="@{'public/templatepublic/js/jquery.magnific-popup.js'}" type="text/javascript"></script>
		<!---//pop-up-box---->
		<script>
			$(document).ready(function() {
				$('.popup-with-zoom-anim').magnificPopup({
					type : 'inline',
					fixedContentPos : false,
					fixedBgPos : true,
					overflowY : 'auto',
					closeBtnInside : true,
					preloader : false,
					midClick : true,
					removalDelay : 300,
					mainClass : 'my-mfp-zoom-in'
				});
	
			});
		</script>					
		<!--End-pop-up-box-->
		<!--start-contact-->
		<div class="contact" id="contact">
			<div class="container" style="background-color: #fff; border-radius: 0.8em; padding: 20px">
				<div class="contact-top">
					<h3>Nova conta</h3>
					<p>Crie sua conta e experimente por 15 dias gratuitamente.</p>
				</div>
				<a id="formError" name="formError"></a>
				#{form @Application.saveNewAccount(), method:'POST'}
					<div class="contact-bottom">
					#{ifErrors} 
					   	<h1>Oops...</h1>
						#{errors}
							<input class="text" type="hidden" id="error" value="${error}" />
						#{/errors} 
					#{/ifErrors}
					#{if flash.success}
						<p>${flash.success}</p>
						<a class="inline-link" href="/login">Entrar</a>
					#{/if}
					#{if flash.error}
					   <p class="error">
					      &{flash.error}
					   </p>
					#{/if}
					</div>
					<div class="contact-bottom">
						<p class="er">#{error 'user.name' /}</p>
						<input type="text" id="name" placeholder="Nome, ex.: João" name="user.name"  value="${flash['user.name']}">
						<p class="er">#{error 'user.lastName' /}</p>
						<input type="text" id="lastName" placeholder="Sobrenome, ex.: Silva Sauro" name="user.lastName"  value="${flash['user.lastName']}">
						<p class="er">#{error 'user.email' /}</p>
						<input type="text" id="email" placeholder="E-mail, ex.: nome@provedor.com.br" name="user.email"  value="${flash['user.email']}">
	        			<p class="er">#{error 'user.birthdate' /}</p>
						<input type="text" id="birthdate" class="date" placeholder="Data de nascimento, ex.: 01/01/2001" name="user.birthdate" value="${flash['user.birthdate']}"  />
						<p class="er">#{error 'user.cpf' /}</p>
						<input type="text" id="cpf" class="cpf" placeholder="CPF, ex.: 124.456.789-01" name="user.cpf"  value="${flash['user.cpf']}">
						<p class="er">#{error 'user.gender' /}</p>
						#{select id:'gender', name:'user.gender', items:genderEnum, valueProperty:'id', labelProperty:'name'}
						#{/select}
	       				<p>#{error 'registration.countryId' /}</p>
						<input type="hidden"  id="countryId" placeholder="País" name="user.countryId"  value="1">
						<p class="er">#{error 'user.stateId' /}</p>
						#{select id:'stateId', name:'user.stateId', items:listStates, valueProperty:'id', labelProperty:'name'}
							<option value="0" selected="selected">Estado</option>						
						#{/select}
						<p class="er">#{error 'user.cityId' /}</p>
						#{select id:'cityId', name:'user.cityId', items:listCities, valueProperty:'id', labelProperty:'name'}
							<option selected="${city != null ? 'selected' : ''}" value="${city != null ? city.id : ''}">${city != null ? city.name : 'Cidade'}</option>
						#{/select}
						<p class="er">#{error 'user.cep' /}</p>
						<input type="text"  id="cep" class="cep" placeholder="CEP, ex.: 75000-000" name="user.cep"  value="${flash['user.cep']}">
						<p class="er">#{error 'user.address' /}</p>
						<input type="text"  id="address" placeholder="Endereço" name="user.address"  value="${flash['user.address']}">
						<p class="er">#{error 'user.complement' /}</p>
						<input type="text"  id="complement" placeholder="Complemento" name="user.complement"  value="${flash['user.complement']}">
						<p class="er">#{error 'user.neighborhood' /}</p>
						<input type="text"  id="neighborhood" placeholder="Bairro" name="user.neighborhood"  value="${flash['user.neighborhood']}">
						<p class="er">#{error 'user.phone1' /}</p>
						<input type="text"  id="phone1" class="sp_celphones" placeholder="Celular (88) 8888-8888" name="user.phone1"  value="${flash['user.phone1']}">
						<p class="er">#{error 'user.phone2' /}</p>
						<input type="text"  id="phone2" class="sp_celphones" placeholder="Telefone Fixo (88) 8888-8888" name="user.phone2" value="${flash['user.phone1']}">
						<p class="er">#{error 'user.password' /}</p>
						<input type="password"  id="password" placeholder="Senha" name="user.password"  value="">
						<p class="er">#{error 'confirmPassword' /}</p>
						<input type="password"  id="confirmPassword" placeholder="Digite novamente a senha" name="confirmPassword"  value="">
						<div class="contact-but">
							<input type="reset" value="LIMPAR" />
							<input type="submit" value="SALVAR" />
						</div>
					</div>
					<input type="hidden"  id="aux" value="0">
					<script type="text/javascript">
						 $(document).ready(function() {
							var selectActionStates = #{jsAction @CEPController.getStatesByCountryId(':countryId') /};
					    	$('#stateId').load(
					    		selectActionStates({countryId: '1'})
					    	);
							$('#stateId').change(function() {
								var elementState = document.getElementById("stateId");
								var stateIdValue = elementState.value;
								var selectActionCities = #{jsAction @CEPController.getCitiesByCountryIdAndStateId(':stateId') /};
						    	$('#cityId').load(
						    		selectActionCities({stateId: stateIdValue})
						    	);
							});
							$('<option value="0">Estado</option>').appendTo("#stateId");
						});
					</script>
				#{/form}
				</div>
			</div>
		</div>
		<!--end-contact-->
	</div>
	<!--start-footer-->
	#{include 'includes/footerPublic.html' /}
	<!--end-footer-->
	
	<script type="text/javascript" src="@{'public/javascripts/jquery.mask.min.js'}"></script>
	<script type="text/javascript">
	  $(function() {
	    $('.age').mask('00');
	    $('.date').mask('00/00/0000');
	    $('.time').mask('00:00:00');
	    $('.date_time').mask('00/00/0000 00:00:00');
	    $('.cep').mask('00000-000');
	    $('.phone').mask('0000-0000');
	    $('.phone_with_ddd').mask('(00) 0000-0000');
	    $('.phone_us').mask('(000) 000-0000');
	    $('.mixed').mask('AAA 000-S0S');
	    $('.ip_address').mask('099.099.099.099');
	    $('.percent').mask('##0,00%', {reverse: true});
	    $('.clear-if-not-match').mask("00/00/0000", {clearIfNotMatch: true});
	    $('.placeholder').mask("00/00/0000", {placeholder: "__/__/____"});
	    $('.fallback').mask("00r00r0000", {
	      translation: {
	        'r': {
	          pattern: /[\/]/, 
	          fallback: '/'
	        }, 
	        placeholder: "__/__/____"
	      }
	    });
	
	    $('.selectonfocus').mask("00/00/0000", {selectOnFocus: true});
	
	    $('.cep_with_callback').mask('00000-000', {onComplete: function(cep) {
	        console.log('Mask is done!:', cep);
	      },
	       onKeyPress: function(cep, event, currentField, options){
	        console.log('An key was pressed!:', cep, ' event: ', event, 'currentField: ', currentField.attr('class'), ' options: ', options);
	      },
	      onInvalid: function(val, e, field, invalid, options){
	        var error = invalid[0];
	        console.log ("Digit: ", error.v, " is invalid for the position: ", error.p, ". We expect something like: ", error.e);
	      }
	    });
	
	    $('.crazy_cep').mask('00000-000', {onKeyPress: function(cep, e, field, options){
	      var masks = ['00000-000', '0-00-00-00'];
	        mask = (cep.length>7) ? masks[1] : masks[0];
	      $('.crazy_cep').mask(mask, options);
	    }});
	
	    $('.cpf').mask('000.000.000-00', {reverse: true});
	    $('.money').mask('#.##0,00', {reverse: true});
	
	    var SPMaskBehavior = function (val) {
	      return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
	    },
	    spOptions = {
	      onKeyPress: function(val, e, field, options) {
	          field.mask(SPMaskBehavior.apply({}, arguments), options);
	        }
	    };
	
	    $('.sp_celphones').mask(SPMaskBehavior, spOptions);
	
	    $(".bt-mask-it").click(function(){
	      $(".mask-on-div").mask("000.000.000-00");
	      $(".mask-on-div").fadeOut(500).fadeIn(500)
	    })
	
	    $('pre').each(function(i, e) {hljs.highlightBlock(e)});
	  });
	</script>
	<script type="text/javascript">
	  	var errorForm = document.getElementById("error");
		window.onload=function(event) {
			if (errorForm.value != '') {
				window.location.hash = '#formError';
			}
		}
	</script>
</body>
</html>