#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.show.title', type.modelName) /}
<meta charset="utf-8" />
<div class="col-lg-12">
   	<div class="panel panel-default">
        <div class="panel-heading">
            &{'crud.show.title', type.modelName}
        </div>
        <div class="panel-body">
           	<div class="row">
               	<div class="col-lg-6">
					#{form action:@save(object._key()), enctype:'multipart/form-data'}
						#{crud.form}
							#{crud.custom 'cep'}
								<div class="form-group">
									<label for="object_cep"> CEP </label>
									<input id="object_cep" class="form-control cep" type="text" size="50" name="object.cep" value="${object.cep}">
								</div>
							#{/crud.custom}
	    					#{crud.custom 'phone'}
								<div class="form-group">
									<label for="object_phone"> Telefone </label>
									<input id="object_phone" class="form-control sp_celphones" type="text" size="50" name="object.phone" value="${object.phone}">
								</div>
							#{/crud.custom}
	    					#{crud.custom 'cellphone'}
								<div class="form-group">
									<label for="object_cellphone"> Celular </label>
									<input id="object_cellphone" class="form-control sp_celphones" type="text" size="50" name="object.cellphone" value="${object.cellphone}">
								</div>
							#{/crud.custom}
	    					#{crud.custom 'countryId'}
								<input id="object_countryId" type="hidden" name="object.countryId" value="1">
							#{/crud.custom}
	    					#{crud.custom 'stateId'}
								<div class="form-group">
									#{include 'includes/selectStates.html' /}
									<input id="auxStates" type="hidden" name="auxStates" value="${state?.id}" />
								</div>
							#{/crud.custom}
	    					#{crud.custom 'cityId'}
								<div class="form-group">
									#{include 'includes/selectCities.html' /}
								</div>
							#{/crud.custom}
							#{crud.custom 'isActive'}
								<div class="form-group">
									<label> Habilitar </label> 
									<div class="radio">
                                        <label>
											<input type="radio" name="object.isActive" id="optionsRadiosInline1" value="true" ${object.isActive?'checked=checked':''}><span title="&{'info.isActive.true'}">Sim</span>
										</label> 
									</div>
									<div class="radio">
                                        <label>
											<input type="radio" name="object.isActive" id="optionsRadiosInline2" value="false" ${!object.isActive?'checked=checked':''}><span title="&{'info.isActive.false'}">Não</span>
										</label> 
									</div>
								</div>
							#{/crud.custom}
						#{/crud.form}
						<div class="form-group" style="float: right">
							<input type="submit" name="_save" value="&{'crud.save', type.modelName}" class="btn btn-default" />
				            <input type="submit" name="_saveAndContinue" value="&{'crud.saveAndContinue', type.modelName}" class="btn btn-default" />
						</div>
						#{include 'includes/scriptCep.html' /}
					#{/form}
				</div>
				<div class="col-lg-6">
					 #{form @delete(object._key())}
				        <input type="submit" class="btn btn-default" style="float: right" value="&{'crud.delete', type.modelName}" />
				    #{/form}
				</div>
			</div>
		</div>
	</div>
</div>