#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.blank.title', type.modelName) /}
<meta charset="utf-8" />
<div class="col-lg-12">
   	<div class="panel panel-default">
        <div class="panel-heading">
            &{'crud.blank.title', type.modelName}
        </div>
        <div class="panel-body">
           	<div class="row">
               	<div class="col-lg-6">
					#{form action:@create(), enctype:'multipart/form-data'}
						#{crud.form}
	    					#{crud.custom 'birthDate'}
								<div class="form-group">
									<label for="object_birthDate"> Data de nascimento </label>
									#{ifError 'object.birthDate'}
								        <label class="control-label-red" for="${object.birthDate}">#{error 'object.birthDate' /}</label>
								    #{/ifError}
									<input id="object_birthDate" class="form-control datemask" type="text" name="object.birthDate" value="${object.birthDate}">
								</div>
							#{/crud.custom}
	    					#{crud.custom 'visitDay'}
								<div class="form-group">
									<label for="object_visitDay"> Data da visita </label>
									#{ifError 'object.visitDay'}
								        <label class="control-label-red" for="${object.visitDay}">#{error 'object.visitDay' /}</label>
								    #{/ifError}
									<input id="object_visitDay" class="form-control datemask" type="text" name="object.visitDay" value="${object.visitDay}">
								</div>
							#{/crud.custom}
	    					#{crud.custom 'cep'}
								<div class="form-group">
									<label for="object_cep"> CEP </label>
									#{ifError 'object.cep'}
								        <label class="control-label-red" for="${object.cep}">#{error 'object.cep' /}</label>
								    #{/ifError}
									<input id="object_cep" class="form-control cep" type="text" size="50" name="object.cep" value="${object.cep}">
								</div>
							#{/crud.custom}
	    					#{crud.custom 'phone'}
								<div class="form-group">
									<label for="object_phone"> Telefone </label>
									#{ifError 'object.phone'}
								        <label class="control-label-red" for="${object.phone}">#{error 'object.phone' /}</label>
								    #{/ifError}
									<input id="object_phone" class="form-control sp_celphones" type="text" size="50" name="object.phone" value="${object.phone}">
								</div>
							#{/crud.custom}
	    					#{crud.custom 'cellphone'}
								<div class="form-group">
									<label for="object_cellphone"> Celular </label>
									#{ifError 'object.cellphone'}
								        <label class="control-label-red" for="${object.cellphone}">#{error 'object.cellphone' /}</label>
								    #{/ifError}
									<input id="object_cellphone" class="form-control sp_celphones" type="text" size="50" name="object.cellphone" value="${object.cellphone}">
								</div>
							#{/crud.custom}
	    					#{crud.custom 'countryId'}
								<input id="object_countryId" type="hidden" name="object.countryId" value="1">
							#{/crud.custom}
	    					#{crud.custom 'stateId'}
								<div class="form-group">
									#{include 'includes/selectStates.html' /}
								</div>
							#{/crud.custom}
	    					#{crud.custom 'cityId'}
								<div class="form-group">
									#{include 'includes/selectCities.html' /}
								</div>
							#{/crud.custom}
							#{crud.custom 'isActive'}
								<div class="form-group">
									<label> Habilitar </label> 
									<div class="radio">
                                        <label>
											<input type="radio" name="object.isActive" id="optionsRadiosInline1" value="true" ${object.isActive?'checked=checked':''}><span title="&{'info.isActive.true'}">Sim</span>
										</label> 
									</div>
									<div class="radio">
                                        <label>
											<input type="radio" name="object.isActive" id="optionsRadiosInline2" value="false" ${!object.isActive?'checked=checked':''}><span title="&{'info.isActive.false'}">Não</span>
										</label> 
									</div>
								</div>
							#{/crud.custom}
						#{/crud.form}
						<div class="form-group" style="float: right">
							<button type="submit" class="btn btn-default" name="_save">&{'crud.save', type.modelName}</button>
							<button type="submit" class="btn btn-default" name="_saveAndContinue">&{'crud.saveAndContinue', type.modelName}</button>
							<button type="submit" class="btn btn-default" name="_saveAndAddAnother" >&{'crud.saveAndAddAnother', type.modelName}</button>
						</div>
						#{include 'includes/scriptCep.html' /}
					#{/form}
				</div>
				<div class="col-lg-6">
					<a href="@{list()}" class="btn btn-default" style="float: right">&{'crud.cancel', type.modelName}</a>
				</div>
			</div>
		</div>
	</div>
</div>